.view--card{
    padding:10px
}
.view--paper{
    height:500px;
}
.img--card{
    background-color: red;
    height:150px;
}
.avatar--card{
    position: relative;
     left: 172px; 
    top: -93px;
}